<launch>
 <arg name="i" default="100"/>
 <arg name="k" default="3"/>
 <arg name="d" default="$(arg i)"/>

 <node pkg="map_server" type="map_server" name="map_server" args="$(find map_transform)/maps/maze3.png 0.1" respawn="false" > 
    <param name="frame_id" value="/map" />
    <remap from="map" to="/morph/map" />
 </node>

 <node pkg="map_transform" type="morph" name="morph" output="screen" args="$(find map_transform)/maps/robot2.png 0">    
    <param name="defl" value="$(arg d)" />
    <param name="infl" value="$(arg i)" />
    <param name="kernel" value="$(arg k)" />
    <param name="rx" value="50" />
    <param name="ry" value="50" />
    <param name="rt" value="0" />
    <param name="x" value="10" />
    <param name="y" value="10" />
    <param name="theta" value="0" />
    <param name="ground_truth" value="false" />
    <param name="angle_res" value="32" />
    <param name="debug_angle" value="0" />
 </node>
</launch>
