<launch>
 <arg name="i" default="1"/>
 <arg name="k" default="3"/>
 <arg name="d" default="$(arg i)"/>

 <node pkg="map_server" type="map_server" name="map_server" args="$(find map_transform)/maps/maze3.png 0.1" respawn="false" > 
    <param name="frame_id" value="/map" />
    <remap from="map" to="/morph/map" />
 </node>

 <node pkg="map_transform" type="morph" name="morph" output="screen" args="$(find map_transform)/maps/robot2.png 0">    
    <param name="defl" value="$(arg d)" />
    <param name="infl" value="$(arg i)" />
    <param name="kernel" value="$(arg k)" />
 </node>
</launch>
