<launch>

 <node pkg="map_server" type="map_server" name="map_server" args="$(find explore_stage_com)/bosch_maps/maze-narrow.png 0.1" respawn="false" >
    <param name="frame_id" value="/map" />
    <!-- <remap from="map" to="/mapNav" /> -->
  </node>

        
  <node pkg="map_transform" type="reach_tr" name="create_reach" output="screen">
  </node>
</launch>
