<launch>
 <arg name="x_0" default="10"/>
 <arg name="y_0" default="10"/>

 <node pkg="map_server" type="map_server" name="map_server" args="$(find map_transform)/maps/longCorridor.png 0.1" respawn="false" > 
    <param name="frame_id" value="/map" />
 </node>

 <node pkg="map_transform" type="visibility" name="visibility" output="screen">    
    <param name="infl" value="6" />
    <param name="defl" value="6" />
    <param name="debug" value="true" />
    <param name="ground_truth" value="false" />
    <param name="tf_prefix" value ="/robot_0" /> 
    <remap from="/visibility/map" to="/map"/>
 </node>

 <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="gui"/>
</launch>
