<launch>
  <arg name="x_0" default="6"/>
  <arg name="y_0" default="4.5"/>

  <node pkg="map_server" type="map_server" name="map_server" args="$(find map_transform)/maps/uber_2.yaml" respawn="false" > 
    <param name="frame_id" value="/map" />
  </node>
	
  <group ns="robot_0">
    <node pkg="map_transform" type="visibility" name="visibility" output="screen">   
      <param name="defl" value="200" />
      <param name="infl" value="9" />
      <param name="debug" value="false" />
      <param name="ground_truth" value="false" />
      <param name="city" value="true" />
      <param name="tf_prefix" value ="/robot_0" /> 
      <remap from="/robot_0/visibility/map" to="/map"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="fake_localize_0" args="$(arg x_0) $(arg y_0) 0 0 0 0 /map /robot_0/base_link 10"/>

    <node name="planner" pkg="map_transform" type="planSensOpt" output="screen">
      <param name="tf_prefix" value ="/robot_0" /> 
      <param name="defl" value="200" />
      <param name="infl" value="9" />
      <param name="lambda" value="0.1" />
      <param name="quad" value="false" />
      <param name="video" value="0" />
      <param name="run_all_opts" value="false" />
      <param name="run_all_goals" value="false" />
      <param name="bfs" value="false" />
      <param name="opt_1" value="true" />
      <param name="opt_1_CD" value="true" />
      <param name="opt_1_CD_2" value="false" />
      <param name="opt_1_CD_2_CP" value="false" />
      <param name="fast" value="true" />
      <remap from="/robot_0/planner/v_map" to="/robot_0/visibility/v_map"/>
      <remap from="/robot_0/planner/e_map" to="/robot_0/visibility/e_map"/>
      <remap from="/robot_0/planner/r_map" to="/robot_0/visibility/r_map"/>
      <remap from="/robot_0/planner/map" to="/map"/>
      <remap from="/robot_0/planner/graph" to="/robot_0/visibility/graph"/>
    </node>
  </group>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find map_transform)/launch/planning_uber.rviz" />

 <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="gui"/>
</launch>
