<launch>
 <arg name="i" default="14"/>
 <arg name="d" default="80"/>

 <node pkg="map_server" type="map_server" name="map_server" args="$(find map_transform)/maps/test_env2_100-2.png 0.1" respawn="false" > 
    <param name="frame_id" value="/map"/>
    <remap from="map" to="/visibility/map" />
 </node>

 <node pkg="map_transform" type="visibility" name="visibility" output="screen">    
    <param name="defl" value="$(arg d)" />
    <param name="infl" value="$(arg i)" />
    <param name="debug" value="true" />
    <param name="x" value="50" />
    <param name="y" value="50" />
    <param name="ground_truth" value="true" />
 </node>

 <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="gui"/>
</launch>
