<launch>
 <arg name="i" default="100"/>
 <arg name="d" default="$(arg i)"/>

 <node pkg="map_server" type="map_server" name="map_server" args="$(find map_transform)/maps/maze5.png 0.1" respawn="false" > 
    <param name="frame_id" value="/map" />
    <remap from="map" to="/visibility_NC/map" />
 </node>

 <node pkg="map_transform" type="visNC" name="visibility_NC" output="screen" args="$(find map_transform)/robots/robot.png $(find map_transform)/robots/sensor.png"> 
    <param name="defl" value="80" />
    <param name="infl" value="9" />
    <param name="sdefl" value="$(arg d)" />
    <param name="rinfl" value="$(arg i)" />
    <param name="debug" value="true" />
    <param name="rx" value="50" />
    <param name="ry" value="50" />
    <param name="rt" value="0" />
    <param name="sx" value="51" />
    <param name="sy" value="67" />
    <param name="st" value="90" />
    <param name="dx" value="60" />
    <param name="dy" value="50" />
    <param name="x" value="50" />
    <param name="y" value="50" />
    <param name="theta" value="0" />
    <param name="ground_truth" value="false" />
    <param name="angle_res" value="32" />
    <param name="sens_res" value="128" />
    <param name="debug_angle" value="0" />
 </node>

 <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="gui"/>
</launch>
